// COLORS
$primary-color: #051e46;
$secondary-color: #4ddbff;

$white-color: #ffffff;

$dark-grey: #333333;

$dark-color: #020c1b;

$dark-blue-text: #272341; // For Headings
$grey-text: #8892b0;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
